<p-progressSpinner *ngIf="loading" class="overlay"></p-progressSpinner>
<h1>Quản lý khách hàng</h1>
<p-panel header="Bộ lọc tìm kiếm" styleClass="mb-3">
  <form [formGroup]="textSearch">
    <div class="p-fluid grid">
      <div class="col-3">
        <input
          type="text"
          pInputText
          formControlName="name"
          placeholder="Tên khách hàng"
        />
      </div>
      <div class="col-3">
        <input
          type="text"
          pInputText
          formControlName="phone"
          placeholder="Số điện thoại"
        />
      </div>
      <div class="col-3">
        <input
          type="text"
          pInputText
          formControlName="address"
          placeholder="Địa chỉ"
        />
      </div>
      <div class="col-3" formGroupName="employee">
        <input
          type="text"
          pInputText
          formControlName="name"
          placeholder="Nhân viên tư vấn"
        />
      </div>
    </div>
    <div class="flex justify-content-end mt-3">
      <p-dropdown
        [options]="statusOptions"
        placeholder="Trạng thái"
        optionLabel="name"
        optionValue="code"
        formControlName="status"
        styleClass="mr-2 w-10rem"
        autoOptionFocus="false"
      ></p-dropdown>
      <p-button
        icon="pi pi-sync"
        styleClass="p-button-text mr-2"
        (click)="clear()"
      ></p-button>
      <p-button label="Tìm kiếm" (click)="search()"></p-button>
    </div>
  </form>
</p-panel>

<p-panel header="Danh sách" *ngIf="!loading">
  <p-table
    *ngIf="customers.length > 0"
    [value]="customers"
    styleClass="p-datatable-sm"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>STT</th>
        <th>Tên khách hàng</th>
        <th>Số điện thoại</th>
        <th>Địa chỉ</th>
        <th>Trạng thái</th>
        <th>Nhân viên tư vấn</th>
        <th>Chức năng</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customer let-i="rowIndex">
      <tr>
        <td>{{ currentPage * limit + i + 1 }}</td>
        <td>{{ customer.name }}</td>
        <td>{{ customer.phone }}</td>
        <td>{{ customer.address }}</td>
        <td>{{ customer.status }}</td>
        <td>{{ customer.employee ? customer.employee.name : null }}</td>
        <td>
          <p-button
            icon="pi pi-pencil"
            styleClass="p-button-text p-button-sm"
            (click)="showUpdateCustomerModal(customer)"
          ></p-button>
          <p-button
            icon="pi pi-trash"
            styleClass="p-button-text p-button-danger p-button-sm"
            (click)="confirmDelete(customer)"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <div *ngIf="customers.length === 0" class="p-m-2">Không tìm thấy dữ liệu</div>
</p-panel>

<div class="flex justify-content-between align-items-center mt-3">
  <p-button
    label="Thêm +"
    styleClass="p-button-sm"
    (click)="showAddCustomerModal()"
  ></p-button>
  <p-paginator
    (onPageChange)="onPageChange($event)"
    [pageLinkSize]="3"
    [first]="first"
    [rows]="limit"
    [totalRecords]="totalPage"
  ></p-paginator>
</div>

<app-customerAdd
  [(displayModal)]="displayAddModal"
  (displayModalChange)="closeAddCustomerModal($event)"
></app-customerAdd>
<app-customerUpdate
  [(displayModal)]="displayUpdateModal"
  [customer]="customer"
  (displayModalChange)="closeUpdateCustomerModal($event)"
></app-customerUpdate>
<p-confirmDialog></p-confirmDialog>
